body{
    display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.verify-otp-container {
    max-width: 450px;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-link {
    display: flex;
    justify-content: center;
    background-color: #1b5b1d;
    margin-bottom: 30px;
    border-radius: 5px;
    color: white;
    text-decoration: none; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.nav-link:hover {
    background-color: #2a5c21;  
    transform: scale(1.05); 
}

h1 {
    text-align: center;
    color: #333;
}

.verification-message {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    color: #555;
}

.email-text{
    font-weight: 600;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.resend-otp-button{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.resend-otp-button p{
    display: flex;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.resend-otp-button button{
    margin-left: 10px;
    color: rgb(254, 254, 254);
    width: auto;
    background-color: grey;
}

.resend-otp-button button:hover{
    background-color: rgb(75, 74, 74);
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.success-message, .resend-message {
    margin-top: 10px;
    color: green;
    font-weight: bold;
}

.error-message {
    color: red;
    text-align: center;
}

.help-section {
    text-align: center;
    background-color: #f9f9f9;
}

.help-section h3{
    color: #000000;
}

@media (max-width: 400px) {
    .verify-otp-container {
        max-width: 100%;
        margin-top: 30px;
        padding: 15px;
    }

    h1 {
        font-size: 1.3rem;
    }

    .verification-message, .success-message, .error-message, .resend-otp-button p {
        font-size: 0.9rem;
    }

    .resend-otp-button button, button {
        font-size: 0.9rem;
        padding: 8px;
    }
}

