.reset-password-container {
    max-width: 400px;
    margin-left: 650px;
    margin-top: 200px;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.reset-password-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.reset-password-container form {
    display: flex;
    flex-direction: column;
}

.reset-password-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.reset-password-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.reset-password-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.reset-password-container .error-message {
    color: red;
    margin-top: 10px;
}

.reset-password-container a {
    display: block;
    margin-top: 10px;
    color: #4CAF50;
    text-decoration: none;
}

.reset-password-container a:hover {
    text-decoration: underline;
}

.password-container {
    position: relative;
}

.password-container input {
    width: 100%;
    padding-right: 40px; /* Space for the icon */
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}