.resume-editor{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.preferences-section{
    display: flex;
    flex-direction: row;
}

.color-picker-section {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 10px;
    margin-right: 45px;
}

h5{
    font-size: 25px;
    margin-bottom: 5px;
    background-color: var(--background-color);
    color: var(--text-color);
}

.color-display {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.option-accent, .option-text {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.option-accent label, .option-text label{
    background-color: var(--background-color);
    color: var(--text-color);
}

.color-box {
    width: 30px; 
    height: 30px; 
    border: 1px solid var(--text-color);
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.color-accent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border: 1px solid var(--text-color);
    margin-left: 10px;
    width: 150px;
}

.color-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border: 1px solid var(--text-color);
    margin-left: 32px;
    width: 150px;
}

.color-code {
    color: var(--text-color);
    font-size: 18px;
}

.color-picker-wrapper {
    position: relative; 
}

input[type="color"] {
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 10;
    display: block;
    width: 40px;
    height: 40px;
    border: none;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s;
}

input[type="color"]:active {
    opacity: 1;
}

.font-picker-section {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 30px;
}
.font-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.font-button {
    width: auto;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #4a4545;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 14px;
}

.font-button:hover {
    background-color: #7e7676;
    transform: scale(1.05);
}

.font-sample {
    display: block;
    font-size: 24px;
    margin-top: 5px;
    font-weight: bold;
}

.resume-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.reset-button, .remember-choice-button, .download-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    width: auto;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reset-button {
    background-color: #f44336;
}

.reset-button:hover {
    background-color: #d32f2f;
}

.download-button {
    background-color: #4caf50;
}

.download-button:hover {
    background-color: #45a049;
}

.remember-choice-button {
    background-color: #f56e14;
}

.remember-choice-button:hover {
    background-color: #cf5f13;
}

