* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  min-height: 100%;
  display: flex;
}

.cvapp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 140px;
  height: 120vh;
  padding: 20px;
  background-color: #f4f7f6;
}

.resume-builder {
  display: flex;
  flex: 1;
  overflow-y: auto;
}

.input-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 700px;
  margin-right: 20px;
  max-height: 100%;
  overflow-y: auto;
  align-items: center;
}

.preview-section {
  flex: 1;
  width: 700px;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.section1, .section2{
  margin-bottom: 15px;
  background-color: white;
  border-radius: 8px;
  width: 90%;
}

.section {
  min-height: 200px;
}

.collapsible-section h3 {
  cursor: pointer;
  user-select: none;
  padding: 15px;
  margin: 0;
  background-color: white;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapsible-section h3 span:last-child {
  font-size: 12px;
}

.section-content {
  padding: 0 15px 15px 15px;
  border: none;
}

.section .section-content {
  display: block;
  padding: 15px;
}

.paper {
  width: 90%;
}

h3 {
  padding: 15px;
  font-size: 22px;
}

/* Scrollbar styling for input-section and preview-section */
.input-section::-webkit-scrollbar,
.preview-section::-webkit-scrollbar {
  width: 10px; 
}

.input-section::-webkit-scrollbar-track,
.preview-section::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.input-section::-webkit-scrollbar-thumb,
.preview-section::-webkit-scrollbar-thumb {
  background-color: rgba(0, 77, 64, 0.4);
  border-radius: 5px;
}

.input-section::-webkit-scrollbar-thumb:hover,
.preview-section::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 77, 64, 0.7); 
}
