.resume-preview {
    display: flex;
    flex: 1;
    margin-left: 20px;
}

.paper {
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 40px;
    border-radius: 5px;
    min-height: 800px;
    font-family: Tahoma;
}

.paper h2 {
    font-size: 42px;
    margin-bottom: 5px;
    color: white;
}

.paper h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-top: 20px;
    font-size: 22px;
}

.entry {
    font-size: 20px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.entry h4 {
    margin-bottom: 5px;
}

.entry p {
    margin: 0;
    color: #363636;
}

ul {
    padding-left: 20px;
}

.info-header {
    padding: 15px;
    background-color: #07715f;
    color: white;
    font-size: larger;
    line-height: 1.3;
}

.info-header p {
    color: white;
}

.profile-photo {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    margin-bottom: 15px; 
    object-fit: cover; 
}
