body{
    display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.forgot-password-container {
    max-width: 400px;
    margin-top: 200px;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;   
}

.forgot-password-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.forgot-password-container p {
    margin-bottom: 15px;
    color: #666666;
}

.forgot-password-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.forgot-password-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.forgot-password-container button:disabled {
    background-color: #ccc;
}

.forgot-password-container .error-message {
    color: red;
    margin-top: 10px;
}

.forgot-password-container a {
    display: block;
    margin-top: 10px;
    color: #4CAF50;
    text-decoration: none;
}

.forgot-password-container a:hover {
    text-decoration: underline;
}

.success-message {
    color: green;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 18px;
}

.error-message {
    color: red;
    margin-bottom: 10px;
    font-size: 18px;
}

.back-to-login {
    margin-top: 15px;
}

.login-link-button {
    font-size: 18px;
    color: blue;
    text-decoration: none;
    border-radius: 5px;
}

@media (max-width: 400px) {
    .forgot-password-container {
        max-width: 100%;
        margin: 10px;
        margin-top: 100px;
        padding: 15px;
    }

    .forgot-password-container h1 {
        font-size: 1.5rem;
    }

    .forgot-password-container p,
    .success-message,
    .error-message {
        font-size: 1rem;
    }

    .forgot-password-container button,
    .forgot-password-container input {
        font-size: 1rem;
    }

    .login-link-button {
        font-size: 1rem;
    }
}