.sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
}

.profile-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.profile-info {
    margin-top: 10px;
}

.profile-info p {
    margin: 5px 0;
    font-size: 14px;
}

.sidebar a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.sidebar a:hover {
    background-color: #ddd;
    color: #000;
}

.main-content {
    margin-left: 250px; /* Adjust the content to the right of the sidebar */
    padding: 20px;
}
