* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background and text color */
}

#root {
  min-height: 100%;
  display: flex;
}

.App {
  display: flex;
  justify-content: center;
  flex: 1;
  overflow-y: auto;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
}

body.light {
  --background-color: #ffffff;
  --text-color: #000000;
}

body.dark {
  --background-color: #333333;
  --text-color: #ffffff;
}

.theme-toggle-btn {
  position: fixed; /* Keeps the button fixed in the corner */
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 2em; /* Larger font for sun/moon icon */
  cursor: pointer;
  color: var(--text-color);
  transition: color 0.3s ease;
}

body.light .theme-toggle-btn {
  color: #000;
}

body.dark .theme-toggle-btn {
  color: #ffd700; /* Light yellow for contrast in dark mode */
}
