
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #f0f0f0;
}

#root {
  min-height: 100%;
  display: flex;
}

.App {
  display: flex;
  justify-content: center;
  flex: 1;
  overflow-y: auto;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  background-color: #f0f0f0;
}

